
// Globals
@import "setup/rules.scss";
@import "setup/reset.scss";


// Defaults

body{
	font-family:$acumin;
	background: #fff;
}

// Color coding

$notStarted: #f8931f;
$inProgress: #00a99e;
$late: #a21100;
$finished: #01b169;


// Branding

@import 'setup/branding.scss';


// Imports


@import "elements/toolbar.scss";
@import "elements/modals.scss";
@import "elements/header.scss";
@import "elements/creation.scss";
@import "elements/overview.scss";
@import "elements/userbar.scss";
@import "elements/task_creator.scss";
@import "elements/sidebar.scss";
@import "elements/task_view.scss";
@import "elements/glance.scss";
@import "elements/posts.scss";
@import "elements/flow.scss";
@import "elements/powerbar.scss";
@import "elements/member_orbs.scss";
@import "elements/settings.scss";
@import "elements/colorPicker.scss";

// Pages

@import "pages/index.scss";
@import "pages/login.scss";
@import "pages/register.scss";
@import "pages/project_view.scss";
@import "pages/landing.scss";
@import "pages/home.scss";
@import "pages/intro.scss";

// Profile page
@import "pages/profile.scss";
@import "pages/profile/change_avatar.scss";


// Immersive
@import 'pages/immersive.scss';

// Planner
@import 'pages/planner.scss';

// Invite
@import "pages/invite.scss";

// Search
@import "pages/search.scss";
