input, textarea{
	&:focus{
		outline: none;
	}
}
.input-field{
	height:3.5rem;
	border: none;
	border-bottom:2px solid $black;
	background: transparent;
	display: block;
	resize: none;
	font-size:1.1rem;
	width:100%;
}
.textarea-field{
	border:none;
	height:3.5rem;
	border: none;
	border-bottom: 2px solid $black;
	background: transparent;
	resize: none;
	padding: to-em(4px);
	transition: .5s;
	font-family: $acumin;
	width:100%;
	font-size: 100%;
	margin:.25rem 0;
	&:focus{
		height:7.5em;
		border-left: 2px solid $black;
	}
}
.select-field{
	height:3rem;
	border: none;
	border-style: solid;
	border-color: $black;
	border-width: 0 0 2px 2px;
	padding-left:to-em(4px);
}
label{
	font-size: 1.05rem;
	font-weight:600;
	display: block;
}

.bottom-button{
	width:100%;
	display:block;
	height:5em;
	padding-left:1em;
	background: $sapphire;
	line-height:5em;
	text-align: left;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-size:1.1em;
	clear:both;
	color: #fff;
	&:hover{
		background: lighten($sapphire, 5%);
	}
}