$orbSize: 2rem;
.progress-header{
	max-width:to-em(560);
	width:95%;
	margin: auto;
	padding:3em 0;
	transition: 2s;
	.orb-wrapper{
		width:100%;
		display: flex;
		flex: 3;
		justify-content: center;
		line-height: $orbSize;
		.orb{
			border-radius: 100%;
			display: inline-block;
			background: $black;
			height:$orbSize;
			width:$orbSize;
			line-height: $orbSize;
			color:#fff;
			text-align: center;
			flex-direction: row;
			justify-content: center;
			text-align: center;
			user-select: none;
			font-weight: 600;
			cursor: pointer;
		}
		.active-orb{
			background: $red;
		}
		hr{
			margin: 0 1em;
			width:calc(33% - 5rem);
			height:0;
			border: none;
			border-bottom:1px solid $black;
			margin-top:((strip-unit($orbSize) / 2 ) * 16) - 1 + px;  

		}
	}

}

.create-page{
	.progress-header{
		transform: translateY(-6em);
		transition: 2s;
		padding:0;
	}
	#slides{
		opacity: 0;
		height: 0;
		overflow: hidden;
	}
	#close-button{
		position: absolute;
		top:1em;
		right:1em;
		height:2em;
		width:2em;
		display: block;
		svg{
			height:100%;
			width:100%;
		}
	}
}
.intro-done{
	.progress-header{
		padding: 3em 0;
		transform: translateY(0);
	}
	#intro-slide{
		transform: translateY(10em);
		opacity:0;
		visibility: hidden;
	}
	#slides{
		opacity: 1;
		height: auto;
		padding:3em 0;
		overflow: visible;
	}
	.active-slide{
		@for $i from 1 to 20{
			.field-wrapper:nth-child(#{$i}){
				animation: fieldSlide $i * .33s 1;
			}
		}
	}
}

.immersion-slide{
	visibility: hidden;
	height: 0;
	position: relative;
	overflow: hidden;
	.double-buttons{
		.bottom-button{
			width:50%;
			float:left;
			clear: none;
		}
		.bottom-button:nth-child(2){
			text-align: right;
			padding-right:2em;
		}
		&::after{
			@include clear();
		}
	}
}
.active-slide{
	visibility: visible;
	height: auto;
}

.error-field{
	background: rgba(242, 38, 19, .5);
}

// Chosen user

#friends-list{
	.member-orb{
		width:4.5rem;
		height:4.5rem;
		line-height: 4.5rem;
		box-sizing: content-box;
		cursor: pointer;
		position: relative;
		overflow: visible;
	}
}


.chosen-user{
	a{
		&::before{
			display: block;
			width:1rem;
			height:1rem;
			border-radius: 100%;
			background: $green;
			position: absolute;
			top:0;
			left:0;
			content: " ";
		}
	}
}


// Animation

@keyframes fieldSlide{
	from{
		transform: translateY(5em);
	}
	to{
		transform: translateY(0);
	}
}

#slides{
	max-width: to-em(560);
	width:98%;
	margin: auto;
	transition: opacity 1s;
	position: relative;
	input, textarea{
		font-family: $acumin;
		font-size: 1.1rem;
		display: block;
		&:focus{
			appearance: none;
			outline: none;
		}
	}
	.textarea{
		resize: none;
		border: none;
		border-bottom: 2px solid $black;
		width:100%;
		height:3.5rem;
		transition: height .7s, border .4s;
		padding:to-em(4px);
		&:focus{
			margin:1em 0;
			border-left:2px solid $black;
			height:8em;
		}
	}
	.field-wrapper{
		min-height: 3.5em;
		width:100%;
		position: relative;
		margin-bottom:2em;
		clear: both;
		h2{
			font-size:1.5em;
			margin-bottom: 1em;
			display:block;
		}
		p{

		}
	}
	.file-upload-wrapper{
		height:15em;
		#dropzone{
			border: 1px dotted $gray;
		}
	}
	input[type='text'], input[type='date'], input[type='number'], input[type='email'], select, .invite-field{
		width:100%;
		border: none;
		border-bottom:2px solid $black;
		height: 3.5rem;
	}
	label{
		font-weight: 600;
		display: block;
		font-size:1.05em;
		letter-spacing: 0px;
	}
	input[type='date']{
		appearance: none;
	}
	h3{
		color: #d9d9d9;
		display: block;
		font-size:1.4em;
		margin-bottom: .75em;
	}

}

div.budget{
	input{
		display: block;
		float: left;
	}
	#project-budget{
		width:70%;
	}
	#project-currency{
		width:30%;
		border-left:2px solid $black;
		text-align: center;
		font-weight: bold;
		font-size:1.3rem;
	}
}

.stats{
	h4{
		font-size:1.2em;
		display: block;
		color: #9d9d9d;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.field{
		margin-bottom:1.5rem;
		span{
			font-weight:bold;
			font-size:1.6rem;
		}
	}

}

div.suggestion-block{
	height:100%;
	position: relative;
	clear: both;
	line-height: 3.5rem;
	input{
		width: 50% !important;
		float: left;
		display: block;
	}
	div.suggestions{
		float:left;
		width:50%;
		height:100%;
	}
	.suggestion{
		display: inline-block;
		font-weight: 600;
		font-size:1.1em;
		cursor: pointer;
		&::before{
			content: "+";
			padding:.5em;
			text-align: center;
		}
	}
	&::after{
		@include clear();
	}
}

.black-button{
	background: $black;
	&:hover{
		background: lighten($black, 10%);
	}
}




.immersion-email-wrapper{
	min-height: 3.5rem;
	.email, #invite-button{
		display: block;
		float: left;
		height:100%;
		height:3.5rem;
	}
	textarea#invite-field{
		width:70%;
		padding:0;
		line-height: 3.5rem;
		position: relative;
		overflow: hidden;
		resize: none;
	}
	#invite-button{
		cursor: pointer;
		width:30%;
		border: 2px solid $black;
		color: $black;
		text-align: center;
		line-height: 3.5rem;
		background: #fff;
	}
	&::after{
		@include clear();
	}
}

#invitees-wrapper{
	header{
		transition: opacity .5s;
	}
	h4{
		font-size:1.3em;
		color: #9d9d9d;
		display: block;
		margin-bottom: .5rem;
	}
	.email-invitee{
		font-weight: bold;
		font-size:1.1em;
		display: block;
		background: #fff;
		position: relative;
		cursor: pointer;
		padding:.5em 0;
		&::after{
			content: "╳";
			font-family: $arial;
			display: block;
			right: 0;
			width: 1.2rem;
			height:1.2rem;
			@include centerY();
			transform: rotate(45deg);
			transition: transform .3s;
		}
		&:hover{
			&::after{
				transform: rotate(0deg);
			}
		}
	}
}

.invitees-inactive{
	header{
		visibility: hidden;
		height:0;
		opacity: 0;
		position: relative;
	}
}
.invitees-active{
	margin-bottom:1.5rem;
	header{
		visibility: visible;
		height: auto;
		opacity: 1;
	}
}

// Intro slide

#intro-wrapper{
	position: relative;
	overflow: hidden;
}

#intro-slide{
	max-width:to-em(560);
	width:100%;
	margin:auto;
	padding:3em 0;
	opacity:1;
	transition: 1s;
	h1{
		font-size:2em;
		display: block;
		margin-bottom:1em;
		font-weight: 600;
	}
	p{
		line-height: 1.7em;
		display: block;
		margin-bottom:2em;
		font-size:1.1em;
	}
	#intro-button{
		background: $black;
		letter-spacing: 2px;
		&:hover{
			background: lighten($black, 5%);
		}
	}
}



// Hide stupid spinners
input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media screen and (max-width: to-em(960)){
	#intro-slide{
		margin: auto;
		padding: 0;
		h1, p{
			width:95%;
			margin: auto;
		}
	}
	.immersion-slide{
		width:95%;
		margin:auto;
	}
}