// Home header

#home-header{
	position: absolute;
	width:90%;
	top:3rem;
	left: -9999em;
	right: -9999em;
	margin: auto;
	z-index: 100;
	background: transparent;
	height:4rem;
	max-width: to-em(960px);
	#main-nav-wrapper, nav, .nav-links > ul{
		position: relative;
		height: 4rem;
		width: 100%;
	}
	.nav-links{
		width:calc(50% - 5rem);
		float:left;
		height: 100%;
		transition: .5s;
	}
	.nav-links ul > li {
		float: left;
		width:50%;
		display: block;
		color: #fff;
		height: 100%;
		text-align: center;
		font-weight: 550;
		font-size: 1.1rem;
		user-select: none;

	}
	#logo-wrapper{
		width: 10rem;
		position: relative;
		height: 100%;
		float:left;
		svg{
			width: 10rem;
			height: 8rem;
			position: absolute;
			top:0;
			left:0;
			stroke: #fff;
			fill: #fff;
		}	
	}
	&::after{
		@include clear();
	}
}

// Masthead
#home-masthead{
	height: 100vh;
	max-height:to-em(760px);
	width: 100%;
	background: $black;
	position: relative;
	overflow: hidden;
	h1{
		height: 1em;
		width:100%;
		text-align: center;
		@include centerY();
		color: #fff;
		font-size:1.7em;
	}
}