.intro-frame{
	width: 100%;
	max-width:to-em(560px);
	margin: auto;
	visibility: hidden;
	height: 0;
	position: relative;
	.intro-title{
		font-size:3em;
		font-weight: 600;
		letter-spacing: .05rem;
		display: block;
		margin-bottom:.7rem;
	}
	.intro-button{
		display: block;
		padding:1em 1.5em;
		font-weight: bold;
		background: #fff;
		border: 2px solid $black;
		cursor: pointer;
		&:hover{
			background: $black;
			color: #fff;
		}
	}
}
.slide-block{
	position: relative;
	margin-bottom:1rem;
	animation: slideBlock 1s 1; 
}

.active-frame{
	visibility: visible;
	height: auto;
	padding: 2em 0;
}


@for $i from 1 through 20{
	.slide-block:nth-child(#{$i}){
		animation-duration: $i * .6 + s;
	}
}
@keyframes slideBlock{
	from{
		opacity: 0;
		transform: translateY(4em);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}