.invite-page{
	width:100%;
	min-height:100vh;
	position: relative;
	overflow: hidden;
	background-color: $black;
	.blur{
		@include centerXY();
		width:101%;
		height:101%;
		background-size: cover;
		filter: blur(2px);
		animation: blur 1s 1;
	}
}

#invite-popup{
	@include centerXY();
	height:to-em(400);
	width: 100%;
	max-width:to-em(560);
	background: #fff;
	padding:1em 1.5em;
	h1{
		font-weight: 600;
		font-size:2em;
		letter-spacing: 2px;
	}
	h1,p{
		display: block;
		margin-bottom:1rem;
	}
	.button-wrapper{
		padding:1em 0;
		a{
			display: block;
			background: transparent;
			padding:1.75rem 1rem;
			font-size:1.1rem;
			letter-spacing: 2px;
			font-weight: 600;
			border:2px solid $black;
			color: $black;
			margin-bottom:.5rem;
			&:hover{
				background: $black;
				color: #fff;
			}
		}
	}
}

@include slide(#invite-popup, 2s, 0, 5em);

@keyframes blur{
	0%{
		opacity:0;
	}
	10%{
		width:101.5%;
		height:101.5%;
		filter: blur(0);
	}
	100%{
		opacity:1;
		width:101%;
		height:101%;
		filter: blur(2px);
	}
}