#welcome-home{
	min-height:100vh;
	width:100%;
	background: #fff;
	color:$black;
	#welcome-header{
		width:100%;
		line-height: 4.825em;
		height: 4.825em;
		padding-right: 4.825em;
		h2{
			font-size: 1.7em;
			display: block;
			text-align: center;
			font-weight: 600;
		}
	}
	#welcome-content-wrapper{
		padding-left:4.825em;
	}
}
@include slide(#welcome-projects-wrapper, 1.5s, 0, 8em, 0);

// Project tile

.projects-wrapper{
	padding-top:2em;
	&::after{
		@include clear();
	}
}

.project-tile{
	width:22.4375em;
	width:22.4375rem;
	margin-right:1%;
	background:#fff;
	position: relative;
	float:left;
	height:30em;
	display: block;
	margin-bottom:1em;
	// box-shadow:1px 1px 1px 3px rgba(0,0,0,.1);
	.project-poster{
		height:24em;
		height:24rem;
		width:100%;
		position: relative;
		overflow: hidden;
	}
	.project-status{
		height:5em;
		width:5em;
		@include centerXY();
		text-align: center;
		font-size:2em;
		line-height: 5em;
		color:#fff;
		border-radius:50%;
		background: rgba(20, 20, 20, .4);
	}
	.not-started{
		height:7em;
		width:7em;
		font-size:1.4rem;
		line-height: 7em;
		background: rgba(20, 20, 20, .7);
	}
	.project-tile-button{
		width:100%;
		height:6em;
		height:6rem;
		background: $sapphire;
		color:#fff;
		text-align: left;
		padding-left:1em;
		line-height:6em;
		font-weight:bold;
		text-transform: uppercase;
		line-height: 6rem;
		position: relative;
		h3{
			font-size:1.2em;
			letter-spacing: 2px;
		}
		.arrow{
			position: absolute;
			right:1em;
			top:50%;
			top:calc(50% - .5em);
			width: 0; 
			height: 0; 
			border-top: .5em solid transparent;
			border-bottom: .5em solid transparent;
			border-left: .5em solid #fff;
		}
	}
}

#zippy-link{
	position: absolute;
	top:0;
	right:0;
	height:4.825em;
	width:4.825em;
	padding-top: .5rem;
	text-align: center;
	svg{
		height:2em;
		width:2em;
	}
	&:hover{
		background: darken($gray, 5%);
	}
}

@media screen and (max-width:960px){
	#welcome-home{
		#welcome-content-wrapper{
			padding-left:0;
			text-align: center;
		}
	}
	
	.projects-wrapper{
		padding:2em 1em;
		text-align: left;
	}
	.project-tile{
		border-right:4px solid #fff;
		width:50%;
		height:20em;
		display: block;
		margin-right:0;
		margin-bottom: 4px;
		.project-poster{
			height: calc(100% - 6rem);
		}
	}
}

@media screen and (max-width:720px){
	.project-tile{
		width:100%;
		float: none;
		border:none;
	}
}