
$boxHeight: 19em;

#login-page{
	background: -moz-linear-gradient(-45deg,  #194850 0%, #194850 30%, #5f8f69 100%);
	background: -webkit-linear-gradient(-45deg,  #194850 0%,#194850 30%,#5f8f69 100%);
	background: linear-gradient(135deg,  #194850 0%,#194850 30%,#5f8f69 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#194850', endColorstr='#5f8f69',GradientType=1 );
	background: #194850;
	min-height:100%;
 	min-height: 100vh;
 	position: relative;
 	overflow:hidden;
 	background-size: cover;
 	#login-logo{
 		margin:4em auto;
 		width:5.5em;
 		svg{
 			width:100%;
 			height:100%;
 			stroke:#fff;
 			fill:#fff;
 		}
 	}
 	#welcome-box{
		height: $boxHeight;
 		background: #fff;
 		width:100%;
 		max-width:to-em(540px);
 		padding-top:2em;
 		@include centerXY();
 		.wrap{
 			height:100%;
 		}
 		input[type=text], input[type=email], input[type=password]{
 			width:100%;
 			background: none;
 			min-height:3.5em;
 			border:none;
 			font-family: $acumin;
 			letter-spacing: 1px;
 			font-size:1em;
 			&:active{
 				webkit-appearance: none;
 				outline:none;
 			}
 		}
 		label{
 			display:block;
 			font-weight:bold;
 			color:$sapphire;
 			text-transform: uppercase;
 			letter-spacing: 1px;
 			user-select: none;
 		}
 		.field{
 			padding:.25em 0;
 			width:80%;
 			margin:auto;
			position: relative;
 			margin-bottom:1em;
 			height:5em;
 		}
 		#checkbox-wrapper{
 			height:2em;
 		}
 		#username-wrapper{
 			border-bottom:1px solid $black;
 		}
 		.submit-button{
 			width:100%;
 			background:$sapphire;
 			border:none;
 			height:5em;
 			height:5rem;
 			font-family: $acumin;
 			text-align: left;
 			font-weight:bold;
 			font-size:1rem;
 			cursor:pointer;
 			padding-left:10%;
 			text-transform: uppercase;
 		}
 	}
 	#register-wrapper{
 		position:absolute;
 		bottom:1em;
 		left:0;
 		text-align: center;
 		width:100%;
 		color:#fff;
 	}
}


// Slide up animation
@include slide(#welcome-box, 1s, 0, 10em, 0);


@media screen and (max-width:960px){
	#login-page{
		background: #fff;
		color: $black;
		#login-logo{
			height:25vh;
			min-height:8em;
			width:auto;
			padding: 1em 0;
			margin:0;
			position: relative;
			svg{
				max-height:7em;
				fill: $black;
				stroke: $black;
				position: absolute;
				bottom:0;
			}
		}
		#welcome-box{
			height:75vh;
			position: relative;
			left:0;
			top:0;
			right:0;
			bottom:0;
			max-width:100%;
			.wrap{
				height:auto;
				position: absolute;
				bottom:0;
				left:0;
			}
		}
		#register-wrapper{
			position: relative;
			background: $black;
			height:5rem;
			text-align: left;
			padding-left:2em;
			line-height: 5rem;
			bottom:auto;
		}
	}
}

@media screen and (max-height: 500px){
	#login-page{
		#login-logo{
			display: none;
		}
		#welcome-box{
			min-height:calc(100vh - 5rem);
		}
	}
}