.planner-page{
	background: #f2f2f2;
	min-height:100vh;
	overflow: auto;
}


#planner-header{
	height:15rem;
	width:20em;
	float:left;
	text-align: center;
	line-height: 15rem;
	h1{
		display: inline-block;
		text-align: center;
		#days{
			font-size:3rem;
			display: block;
		}
		.text{
			font-size:1.2rem;
		}
	}
}
#timeline-wrapper{
	width:calc(100% - 20em);
	height: 15rem;
	position: relative;
	line-height:15rem;
	float:left;
	padding-right: 4em;
	#timebar{
		position:relative;
		display: inline-block;
		width:100%;
		height:1rem;
		background: $black;
		&::after, &::before{
			content: "";
			height:2rem;
			width:2rem;
			border-radius:100%;
			position: absolute;
			@include centerY();
			border:2px double $black;
			background: #fff;
		}
		&::after{
			right:-1rem;
		}
		&::before{
			left:-1rem;
		}
	}
}


#timeline-body{
	width:100%;
	max-width: calc(100% - 20rem);
	clear:both;
}