.project-pane{
	width:100%;
}
$headerHeight: to-em(354);
.project-header{
	width:100%;
	height:$headerHeight;
	position: relative;
	background: $dblue;	
	overflow:hidden;
	.project-toggle{
		position: absolute;
		right: to-em(18);
		top: to-em(18);
		background: rgba(50, 50, 50, .4);
		padding:to-em(5px);
		border-radius:to-em(2);
		width:3em;
		height:3em;
		cursor:pointer;
		z-index:2;
		select{
			padding: to-em(2) to-em(6);
			background:none;
			color:#fff;
			text-transform: uppercase;
			border:none;
			height:100%;
			width:100%;
			border-radius:to-em(2);
		}
		svg{
			stroke:#fff;
			fill:#fff;
			width:100%;
			height:100%;
			transition:.3s;
		}
		&:hover{
			svg{
				fill:$sunflower;
			}
		}
	}
	.project-heading{
		width:70%;
		height:50%;
		@include centerXY();
		z-index:1;
		text-align: center;

		h1{
			font-size:pt-em(37);
			font-family: "Montserrat", sans-serif;
			color:#fff;
			text-transform: uppercase;
		}

		progress{
			width:100%;
			appearance: none;
			border-radius: to-em(2);
			height:to-em(5px);
			color: $darkBlue;
			border:none;
			background-color: rgba(255, 255, 255, .5);
		}
		progress[value]::-webkit-progress-bar{
			background-color: rgba(255, 255, 255, .5);
			border-radius: to-em(2);
		}
		progress[value]::-webkit-progress-value{
			background-color: $darkBlue;
		}
	}
	.dim{
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.30) 20%, rgba(0,0,0,0.38) 34%, rgba(0,0,0,0.65) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.30) 20%,rgba(0,0,0,0.38) 34%,rgba(0,0,0,0.65) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.30) 20%,rgba(0,0,0,0.38) 34%,rgba(0,0,0,0.65) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
		width:100%;
		position: absolute;
		height:100%;
		z-index:0;
		left:0;
		top:0;
	}
	.project-stats{
		position: absolute;
		width:100%;
		color:#fff;
		left:0;
		bottom:0;
		z-index:2;
		height:6em;
		ul{
			height:100%;
			width:66.66666666666666667%;
			float:left;
		}
		li{
			width:50%;
			float:left;
			display:block;
			text-align: center;
			height:3em;
			height:3rem;
		}
		span{
			display:inline-block;
			font-family: "monsterrat", sans-serif;
		}
		.text{
			display:block;
			font-family: $acumin;
			text-transform: uppercase;
			font-size:1.1em;
			color: $sapphire;
		}
		.value{
			font-size:2.5em;
		}
		.budget{
			padding-left:1em;
		}
		.currency{
			font-size:1rem;
			vertical-align: super;
			padding:0 .3em;
		}
		&::after{
			@include clear();
		}
		#team-list{
			height:100%;
			position:absolute;
			bottom:0;
			right:0;
			height: 3em;
			width:33.33333333333334%;
			a{
				max-width:4rem;
				float:right;
				height:100%;
				text-align: center;
				line-height: 3em;
			}
		}
	}

}

// Actions bar

#actions-bar{
	padding:1em;
	margin-bottom:1em;
	width:70%;
	margin:auto;
	ul{
		height:100%;
		width:100%;
	}
	li{
		letter-spacing: 1px;
		font-weight:bold;
		color:#444;
		display:inline-block;
		height:100%;
	}
}


// task list

#task-view{
	width:100%;
	#task-list{
		position: relative;
		padding:1em;
	}
	ul{
		width:100%;
	}
	.count{
		border-style: solid;
		border-width: .4rem 0;
		border-color: #fff;
		float:left;
		display:inline-block;
		color:lighten($black, 30%);
		&:hover{
			border-width: 0;
		}
	}
	.task-count{
		margin: 2rem 0;
	}
	.user-section{
		height:4em;
		width:100%;
		position: relative;
		clear:both;
		margin-bottom:.5em;
		&::after{
			@include clear();
		}
		.avatar-block{
			width:4em;
			height:100%;
			float:left;
		}
		.avatar{
			height:100%;
			width:100%;
			text-align: center;
			display: inline-block;
			line-height: 4em;
			user-select:none;
			line-height: 4rem;
		}
	}
	.user-tasks, .task-count{
		height:100%;
		width:calc(100% - 4em);
		float:left;
		&::after{
			@include clear();
		}
		.task{
			float:left;
			height:100%;
			cursor:pointer;
			background:#fff;
			text-align: center;
			span{
				font-weight:bold;
				display:inline-block;
				letter-spacing: 1px;
				text-transform:uppercase;
				color:$dblue;
				line-height: 3.5em;
			}
			.handle{
				position:absolute;
				top:.5em;
				right:.5em;
				color:#fff;
				content: "...";	
			}
		}

		.not-started{
			background: $sunflower;
		}
		.in-progress{
			background: $inProgress;
		}
		.late{
			background: $late;
		}
		.finished{
			background: $finished;
		}
	}
	.task-count{
		float:right;
		text-align: right;
	}

}

@for $i from 0 through 50{
	.tasks-#{$i}{
		.count, .task{
			width: 100% / $i;
		}
	}
}

.content-pane{
	width:100%;
	background: $gray;
	.content{
		width:70%;
		margin:auto;
		max-width:calc(100% - 9.625em);
		clear:both;
	}
}

