// Profile page

.profile-page{
	background: #fff;
	.button{
		display: inline-block;
		margin-right: 1em;
		padding:1rem 3em;
		color: #fff;
		background: $black;
		cursor: pointer;

		font-family: $acumin;
		letter-spacing: 2px;
	}
	.add-friend{
		background: $blue;
	}
	.remove-friend{
		background: $red;
	}
}


#profile-hero{
	height:35vh;
	max-height:40em;
	width:100%;
	background: #fff;
	position: relative;
	z-index:0;
	.dim{
		@include dim(rgba(150, 150, 150, .5));
	}
}

// Main body
#profile-wrapper{
	z-index:1;
	position: static;
}

// Bio block
#bio-block{
	margin-left: 22rem;
	margin-top: -7.5rem;
	position: relative;
	width:100%;
	max-width:calc(100% - 22rem);
	.body-wrapper{
		float:left;
		width: calc(100% - 15rem);
		height:15rem;
		padding-left:2em;
		position: relative;
	}
	.title-block, .actions-block{
		height: 7.5rem;
		width:100%;
		position: relative;
	}
	.actions-block{
		padding-top:1em;
	}
	.quick-bio{
		position:absolute;
		bottom:1rem;
		left:0;
	}
	&::after{
		@include clear();
	}
}



#main-avatar-wrapper{
	width:15em;
	height:15em;
	border:to-em(4px) solid #fff;
	position: relative;
	float:left;
	#change-image{
		@include cover();
		background: none;
		transition: background .3s;
		&:hover{
			background: rgba(50, 50, 50, .5);
		}
	}
}
.title-block{
	width:100%;
	position: relative;
	text-align: left;
	.first{
		font-weight:600;
	}
	.name{
		font-size:1.4em;
	}
}

@media screen and (max-width:to-em(960px)){
	#bio-block{
		margin-left:auto;
		margin-right: auto;
		max-width:80%;
		#main-avatar-wrapper{
			float: none;
			margin:auto;
		}
		.body-wrapper{
			float:none;
			width:100%;
			text-align: center;
			height:auto;
		}
		.title-block, .actions-block{
			height: auto;
			padding:.5rem;
			text-align: center;
		}
		.quick-bio{
			position: relative;
			bottom: auto;
		}
	}
}