#register-page{
	height:auto;
	position: relative;
	header{
		position:relative;
	}
	#register-bar{
		width:100%;
		max-width:to-em(460px);
		height: 100%;
		background: #fff;
		color:$black;
		position:relative;
		z-index:100;
		input[type=text], input[type=email], input[type=password], input[type=date]{
			width:100%;
			min-height:3.5em;
			background: #fff;
			border:none;
		}
		header{
			width:80%;
			margin:auto;
			padding: 1rem 0;
		}
		label{
			font-weight:600;
			color:$black;
			letter-spacing: 0;
			font-size:1.05rem;
			margin: auto;
		}
		.submit-button{
			font-size:100%;
			width:100%;
			height:5em;
			background: $sapphire;
			border:none;
			text-align: left;
			padding-left:10%;
			cursor:pointer;
			text-transform: uppercase;
			font-weight:bold;
			letter-spacing: 1px;
			position: relative;
			z-index:10;
		}
		.title{
			font-size:2em;
			display:block;
			font-weight:bold;
			margin-bottom: .75rem;
			letter-spacing: 1px;
			font-family: $acumin;
		}
		.field{
			height:6em;
			width:80%;
			margin:auto;
			margin-bottom:1em;
			input{
				border-bottom:2px solid $black;
				font-family: $acumin;
				font-size:1rem;
			}
		}
	}


	// Anim

	@for $i from 1 through 20{
		.field:nth-child(#{$i}){
			animation: fieldSlide .33 * $i + s 1;
		}
	}

	
	#register-canvas{
		height:100%;
		position:fixed;
		right:0;
		top:0;
		background: $gray;
		min-height: 100vh;
		width:100%;
		max-width: calc(100% - 460px);
		background: url('../img/sploorch.jpg') no-repeat center;
		background-size:cover;
	}

}

@keyframes fieldSlide{
	from{
		transform: translateY(3em);
	}
	to{
		transform:translateY(0);
	}
}


@media screen and (max-width:960px){
	#register-page{
		#register-bar{
			position: relative;
			height: auto;
			width:100%;
			max-width:100%;
			.submit-button{
				position: relative;
				margin-top:3em;
			}
		}
		#register-canvas{
			display: none;
		}
	}
}