.search-page{

}
#search-header{
	display: block;
	min-height:12rem;
	padding:0 15%;
	background: $gray;
	line-height:12rem;
	box-shadow: 0px 3px 3px 1px rgba(200, 200, 200, .4) inset;
	h1{
		display: block;
		font-size: 2em;
		letter-spacing: 2px;

	}
	.form-wrapper{
		height:3.5rem;
		width:100%;
		display: inline-block;
		form{
			height: 100%;
		}
		input{
			height:100%;
			display: block;
			float: left;
			background: #fff;
			font-family: $acumin;
			font-weight: bold;
			letter-spacing: 2px;
		}
		input[type='text']{
			width:80%;
			border: none;
			background: #fff;
			border-bottom:2px solid $black;
			padding-left:to-em(4px);
			font-weight: 500;
			font-size:1.1rem;
		}
		input[type='submit']{
			width:20%;
			border:2px solid $black;
			color: $black;
			cursor: pointer;
			&:hover{
				background: $black;
				color: #fff;
			}
		}	
	}

}
