#project-creation-wrapper{
	background: #fff;
	width:100%;
	max-width:52em;
	margin:auto;
	padding-bottom:1em;
	height:47em;
	#project-image{
		width:100%;
		height:14em;
	}
	#project-title{
		width:100%;
		background:$gray;
		height:4em;
		input{
			padding:.5em;
			font-size:2.5em;
			font-size:2.5rem;
			border:none;
			height:100%;
			width:66.666666667%;
			display:block;
			background: none;
			float:left;
			box-shadow: -1px 2px 4px rgba(100, 100, 100, .15) inset;

		}
		#category-wrapper{
			float:left;
			height: 100%;
			width: 33.3333333334%;
			min-width: 8em;
			background: #fff url('../img/arrow_down.svg') no-repeat center right;
			background-position: 90% center;
			background-size:1em;
		}
		select{
			width: 100%;
			height: 100%;
			border:none;
			background: none;
			appearance: none;
			padding:.25em .5em;
			letter-spacing: 1px;
			font-weight:650;
			font-family: $acumin;
		}
		option{
			text-align: center;
		}
	}
	.block-wrapper{
		position: relative;
		width:100%;
		height:23em;
		padding-top:1em;
		label{
			display:block;
			font-weight:bold;
			padding: .45em 0;
		}
		textarea{
			resize: none;
			height:85%;
			width:100%;
			border: to-em(1px) solid lighten($black, 40%);
			border-bottom:2px solid lighten($black, 40%);
		}
		.half{
			height: 100%;
			float:left;
			width:50%;
			padding:.5em 1em;
		}
		.field{
			margin-bottom:1em;
		}
		input{
			width:100%;
			min-height:3.5em;
			border: to-em(1px) solid lighten($black, 40%);
			border-bottom:2px solid lighten($black, 40%);
			padding:to-em(2px) to-em(4px);
		}
		&::after{
			@include clear();
		}
	}
	.submit-wrapper{
		width:100%;
		clear:both;
		height:6em;
		&::before{
			@include clear();
		}
		input{
			width:100%;
			display:block;
			border:none;
			height:100%;
			text-transform: uppercase;
			font-weight: bold;
			background: $sapphire;
			cursor:pointer;
			font-size:1.1em;
			text-align: left;
			padding-left:2em;
			letter-spacing: 2px;
			color:#fff;
			&:hover{
				background: lighten($sapphire, 5%);
			}
		}
	}
}


.dropzone{
	width:100%;
	height:100%;
	margin:auto;
	clear:both;
	border:1px dashed darken(#ececec, 20%);
	color: darken(#ececec, 20%);
	transition:.1s;
	text-align:center;
	transition: background .5s;
	background:transparent;
	max-width:100%;
	position: relative;
	transition: .2s;
	background-size:cover !important;
	border-width: 0 0 1px 0;
	overflow: hidden;
	span{
		z-index:1;
		transition: .2s;
		@include centerXY();
		height:1em;
		width:100%;
		text-align: center;
	}
}
.dragover{
	border:1px dashed darken(#ccc, 50%);
	color:darken(#ccc, 50%);
}
#dropzone-dim{
	@include dim(rgba(255, 255, 255, .2));
	z-index:0;
}
.dropzone-success{
	border:none;
	span{
		opacity:0;
		transition: opacity .2s;
	}
}