#flow-wrapper{
	width:100%;
	max-width:55%;
	position: relative;
	min-height:50em;
	float:left;
	border: 1px solid $gray;
}
.flow-post{
	background: #fff;
	min-height: 16em;
	width:100%;
	border-bottom:1px solid $gray;
	.thumbnail{
		max-height:10em;
		position: relative;
		overflow:hidden;
		img{
			width:100%;

		}
	}
	.name{
		font-size: 1.965em;
		font-weight: 300;
	}
	.body-wrapper{
		padding: 1em 2em;
	}
	&:hover{
		background:darken(#fff, 3%);
	}
}
.flow-post-img{
	min-height:24em;
}

#flow-search{
	height:4.5rem;
	width:100%;
	border-bottom:1px solid $gray;
	position: relative;
	form{
		height:100%;
		position: relative;
	}
	input, a{
		height:100%;
		border:none;
		position: relative;
		float:left;
		display: block;
	}
	.text{
		width:100%;
		max-width:calc(100% - 4.5rem);
		border-right: 1px solid $gray;
		padding:.25em 1em;
		font-size:1.1em;
	}
	.submit, #filter-button{
		width:4.5rem;
		background-size: 2em auto;
		background-color: transparent;
		background-position: center;
		background-repeat: no-repeat;
	}
	.submit{
		background-image: url('../img/mag.svg');
	}

}