#glance-view{
	height:100%;
	ul{
		width:100%;
		height:100%;
		&::after{
			@include clear();
		}
	}
	.glance-block{
		width:25%;
		float:left;
		height:100%;
		&:nth-child(4){
			margin-right:0;
		}
		header{
			height: 4em;
			width:100%;
			color:#fff;
			letter-spacing: 1px;
			text-align: left;
			line-height: 4em;
			font-size:1.1em;
			padding-left:1em;
			transition: 1.3s;
			font-weight:300;
		}
		.task-listing{
			height:100%;
			padding:0 1em 1em 1em;
		}
		.glance-tile{
			padding:1em 0;
			min-height:5em;
			border-bottom:1px solid #eee;
			position: relative;
			overflow: hidden;
			.date{
				display:block;
				color:#888;
				font-weight: normal;
			}
			.name{
				font-weight: 600;
			}
			.task-owners{
			}
			.member{
				position: absolute;
				right:0;
				width:2.5em;
				display: block;
				height:2.5em;
				text-align: center;
				line-height: 2.5em;
				top: -9999em;
				bottom: -9999em;
				margin:auto;
			}

		}
	}
	.in-progress{
		header{
			background: $inProgress;
		}
	}
	.not-started{
		header{
			background: $sunflower;
		}
	}
	.completed{
		header{
			background: $finished;
		}
	}
	.late{
		header{
			background: $late;
		}
	}
	.inactive{
		header{
			background: #ccc;
		}
	}

}