#site-header{
	width:100%;
	position:relative;
}

.site-message-wrapper{
	position: fixed;
	top:0;
	width:100%;
	left:0;
	z-index:1000;
	.error-message, .page-message{
		float:left;
		display:block;
		text-align: center;
		padding:to-em(5px);
	}
	.error-message{
		background: $red;
	}
}

@for $i from 0 through 10{

	.errors-#{$i}{
		.error-message, .page-message{
			width:100 / #{$i} + %;
		}
	}
	.error-message:nth-child($i){
		background: darken($red, $i * 4);
	}
}