$dimensions : 3.5rem;

.member-orb{
	display:inline-block;
	margin: .5em .5em .5em 0;
	border-radius: 100%;
	height:$dimensions;
	width: $dimensions;
	position: relative;
	overflow: hidden;
	background-size: cover;
	line-height:$dimensions;
	text-align: center;
	background-size: cover !important;
}
.large-orb{

}