.modal{
	opacity: 0;
	overflow: hidden;
	-webkit-transform:rotateX(-50deg);
	transform:rotateX(-50deg);
	z-index: -1;
	transition: opacity .2s, transform .4s;
	top:100%;
	@include centerXY();
	transform:translate(0, 10em);
	padding: 0 !important;
	position:fixed;
	visibility: hidden;
}

.open-modal{
	opacity: 1;
	height: auto;
	-webkit-transform:rotateX(0deg);
	transform:rotateX(0deg);
	z-index: 1000;
	@include centerXY();
	position:fixed;
	transform:translate(0, 0em);
	visibility: visible;
}

.page-dim{
	height:0;
	width:0;
	opacity:0;
	z-index:-1000;
	transition:opacity .4s;
}
.page-dim-active{
	@include dim(rgba(50,50,50, .6));
	z-index:999;
	position:fixed;
	opacity:1;
}
.large-modal{
	width:90%;
	height:90vh;
	background: #fff;
}
.task-view-modal{
	width:100%;
	max-width: to-em(1300);
	max-height: 80vh;
}
.ajax-modal{
	animation: ajaxSlide .5s 1;
}
@keyframes ajaxSlide{
	from{
		transform:translateY(5em);
		opacity:0;
	}
	to{
		transform:translateY(0);
		opacity: 1;
	}
}

.message-modal{
	width:100%;
	background: #fff;	
	max-width:to-em(500);
	height:43rem;
	.wrapper{
		padding:1.5em 1em;
		height: 38rem;
	}
	h1, h2, p{
		display: block;
		margin-bottom: 1em;
	}
	h1, h2{
		font-size: 2em;
		letter-spacing: 1px;
	}
	p{
		font-size: 1.1em;
		line-height: 1.6em;
	}
}
.close-button{
	cursor: pointer;
}