#project-overview{
	position:fixed;
	transition:height .3s, width .3s, opacity .3s;
	background: #fff;
	@include centerXY();
	position: fixed;
	header{
		position: relative;
		height:4em;
		padding:.5em 1em;
		h2{
			font-size:2.3em;
			text-transform: uppercase;
			font-weight:600;
			color: $sapphire;
		}
		#close-overview{
			width:3em;
			height:3em;
			position:absolute;
			top:1.125em;
			right:1.125em;
			padding:to-em(5px);
			cursor: pointer;
			svg{
				width:100%;
				height:100%;
			}
		}
	}
	ul{
		padding:0 1em;
		height:calc(100% - 4em;);
		width:100%;
	}
	
}
.project-overview{
	z-index: -1000;
	width:100%;
	height:100%;
	visibility:hidden;
}
.project-overview-visible{
	z-index: 1001;
	opacity:1;
	width:100%;
	height:100%;
	visibility:visible;
	animation: overview .4s 1;
}
@keyframes overview{
	from{
		transform: translateY(4em);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity:1;
	}
}
