#powerbar-wrapper{
	position: relative;
	width:100%;
	max-width:20%;
	min-height:50em;
	float:left;
	li{
		padding:.5em .5em .5em 1.5em;
		text-align: left;
		font-weight: 600;
		display: block;
		width:100%;
		min-height: 4.5em;
		line-height: 4.5em;
		cursor: pointer;
		position: relative;
		transition: .2s;
		a{
			@include cover();
			padding-left:2em;
			font-size:.9rem;
			font-weight:600;
			text-transform: uppercase;
		}
		&:hover{
			background: #eee;
		}
	}
}