// Settings page
#settings{
	width: 100%;
	max-width: to-em(1200px);
	height:auto;
	height:90vh;
	background: #fff;
	@include centerXY();
	position:fixed;
	.wrap{
		clear:both;
	}
	.modal-header{
		height:4.825em;
		width:100%;
		border:1px solid $gray;
		position: relative;
		overflow:hidden;
		li{
			float:left;
			width:33.33333334%;
			display:block;
			text-align: center;
			height:100%;
			line-height:4.825rem;
			min-height:1em;
			height:4.825em;
		}
		.title{
			font-size: 1.7rem;
			display: block;
			text-align: center;
			font-weight: 600;
		}
		&::after{
			@include clear();
		}
		.close-link{
			position: relative;
			svg{
				height:2em;
				width: 2em;
				@include centerY();
				right:1em;
			}
		}
	}
	#side-column{
		width:20em;
		float:left;
		min-height: 35em;
		border-right:1px solid $gray;
		li{
			width:100%;
			height:4em;
			line-height:4em;
			text-align: left;
			padding:0 1em;
			cursor: pointer;
			&:hover{
				background: darken(#fff, 5%);
			}
		}
	}
	#main{
		min-height: 35em;
		float:left;
		max-width:calc(100% - 20em);
		width:100%;
		input[type='submit']{
			margin: 1em auto;
			@include button(#000);
			display:block;
			font-weight:500;
			letter-spacing: 1px;
			padding:.75em 2em;
			text-transform: uppercase;
		}
		h3{
			font-weight:bold;
			text-transform: uppercase;
			color:$sapphire;
			font-size:1.1em;
			letter-spacing: 1px;
		}
		.lower-wrapper{
			width:90%;
			margin:auto;
		}
		.field-wrapper{
			clear:both;
			margin-top:1em;
		}
		

		// Font formatting
		h2{
			font-weight: 600;
			font-size:2em;
			letter-spacing: 2px;
			display: block;
			margin-bottom:.5rem;
		}
		p{
			display:block;
			margin-top:1em;
			line-height: 1.7em;
		}
	}
	

}


// Panes
.pane-wrapper{
	width:100%;
	padding: 1em 1.5em;
}

#team-management-wrapper{
	width:90%;
	margin: auto;
	padding:1em 0;
}

// Project Settings
#project-settings-wrapper{
}
#project-settings-header{
	width:100%;
	position: relative;
	height:14em;
	background-size:cover;
	background-position: center;	
}

div.delete-wrapper{
	.text-wrapper{
		width: 95%;
		max-width:to-em(560px);
		label#delete-confirmation{
			color: $red;
			font-weight: bold;
			font-size:1.1em;
			text-transform: none;
		}
	}

}