#my-sidebar{
	width:100%;
	max-width:25%;
	min-height:50em;
	float:left;
	.brief{
		height:12em;
		width:100%;
		background: #fff;
		color: #fff;
		line-height: 12em;
		text-align: center;
		position: relative;
		h3{
			letter-spacing: 1px;
			font-size:1.2em;
		}
		.name{
			font-weight:600;
		}
	}
}
@for $i from 0 to 4{
	.slide:nth-child(#{$i + 1}){
		animation: briefSlides 1 4s;
		animation-delay: $i * 4 + s;
		background: #fff;
		z-index: 4 - $i;
	}
	@if $i == 3{
		.date-slide{
			visibility: visible;
		}
	}
}
.slide, .date-slide{
	width:100%;
	height:100%;
	visibility:hidden;
	@include cover();
}
.date-slide{
	text-align: center;
	visibility: visible;
	border-bottom:1px solid $gray;
	.date, .month{
		display:block;
		width:100%;
		text-align: center;
		color: $black;
	}
	.date{
		font-size:2.5em;
		height:2.5rem;
	}
	.month{
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size:1.3em;
		font-weight: bold;
	}
}
@keyframes briefSlides {
	0%{
		visibility: visible;
		height:100%;
		width:100%;
		color: #fff;
	}
	15%{
		color: $black;
	}
	85%{
		color: $black;
		height:100%;
		width:100%;
	}
	100%{
		color: #fff;
	}
}


// Task list

#my-tasks{
	li{
		width:100%;
		padding:1em .5em 1em 2em;
		font-size:1.1em;
		input[type='checkbox']{
			margin-right:1em;
		}
	}
}