#task-creator{
	width:100%;
	max-width:25em;
	background: #fff;
	// height:41.75em;
	// height:41.75rem;
	transition: height 1s;
	input, select, textarea{
		width:100%;
		resize: none;
	}
	label{
		font-weight: bold;
		letter-spacing: 0;
	}
	#task-image{
		width:100%;
		height:7em;
		border:1px solid $gray;
	}
	.input-wrapper{
		width:100%;
		padding: 0 1em;
	}
	.field-wrapper{
		height:4.971875em;
		height:4.971875rem;
		margin-bottom:.5rem;
	}
	.textarea-wrapper{
		height:11.25em;
		height:11.25rem;
	}
	.submit-wrapper{
		margin-top:1em;
		height:5em;
		height:5rem;
		input{
			background: $sapphire;
			height:100%;
			width:100%;
			color: #fff;
			text-transform: uppercase;
			text-align: left;
			padding-left:1em;
			font-weight:bold;
			border:none;
			letter-spacing: to-em(1px);
			font-size:1em;
		}
	}
	#extra-header{
		padding:0 1em;
		height:2em;
		text-align: left;
		color: #595959;
		cursor: pointer;
		position: relative;
		h3{
			font-size:1.1rem;
			font-weight:bold;
		}
		svg{
			position: absolute;
			height:1rem;
			width: 1rem;
			@include centerY();
			right:1rem;
			transition: transform 1s;
		}
	}
}
.collapsed-task-creator{
	height: 35.57875rem;
	#task-creator-extra{
		height:0;
		transition: 1s;
		position: relative;
		overflow: hidden;
	}
}
.expanded-task-creator{
	height:45rem;
	#task-creator-extra{
		height:auto;
	}
	#extra-header{
		svg{
			transform: rotate(90deg);
		}
	}
}