#task-view{
	max-width:100%;
	background: #fff;
	float:left;
	min-height: 100%;
	.half{
		width:50%;
		float:left;
	}
	.task-header{
		position: relative;
		max-height:20%;
		min-height:30em;
		overflow: hidden;
		display: block;
		height:15em;
		img{
			width:100%;
			min-height: 100%;
			object-fit: cover;
			height: auto;
		}
		.image-expand{
			@include dim(rgba(50, 50, 50, 0));
			opacity:0;
			cursor:pointer;
			transition: .4s;
			line-height: 15em;
			text-align: center;
			color: #fff;
		}
		&:hover{
			.image-expand{
				background: rgba(50, 50, 50, .4);
				opacity:1;
			}
		}
	}
	.task-owner{
		hr{
			border-style: solid;
			border-width: 1px;
		}
		.member{
			padding:.5em 0;
			text-align: center;
			color:#fff;
			float:right;
			width:4em;
		}
		.member:last-child{
			&::after{
				@include clear();
			}
		}
		#task-add-member{
			background: rgb(200, 200, 200);
			color: $black;
			display: block;
			cursor:pointer;
			&:hover{
				text-decoration: none;
				background: rgb(170, 170, 170);
			}
		}
	}

	&::after{
		@include clear();
	}
}
#task-text-block{
	padding:1em .5em;
	float:left;
	width:45%;
	#task-title{
		font-weight: 600;
		font-size:2em;
		letter-spacing: 1px;
	}
}



// Assigner
#assigner{
	position: absolute;
	width:15em;
	height:auto;
	background: #fff;
	border: 1px solid $gray;
	padding:1em .5em;
	h4{
		font-weight: bold;
	}
	li{
		padding:1em 0;
	}
	.plus, .name-wrapper{
		height:100%;
		line-height: 2rem;
	}
	.plus{
		opacity:0;
		width:0rem;
		float:left;
		text-align: center;
		font-weight: 300;
		background: $black;
		color: #fff;
		overflow:hidden;
		transition: .2s;
	}
	.name-wrapper{
		width:11em;
		float:left;
	}
	.assigner-member{
		width:100%;
		height:4em;
		position: relative;
		cursor: pointer;
		&:hover{
			.plus{
				width:2.5em;
				width:2.5rem;
				opacity: 1;
			}
			.name-wrapper{
				padding-left:to-em(4px);
			}
		}
		&::after{
			@include clear();
		}
	}
}

// Commenting
#task-comments{
	width:30%;
	float:left;
	background: #fff;
	height: 100%;
	border-left:1px solid $gray;
	.comments-wrapper{
		height:calc(100% - 4em);
		position: relative;
		width:100%;
		overflow: auto;
		h3{
			font-size:1.3em;
			letter-spacing: 1px;
			display: block;
			padding: .5em .5em 1em .5em;
			color: #ccc;
		}
	}
	.form-wrapper{
		height:4rem;
		width:100%;
		form{
			height:100%;
		}
		textarea{
			border:none;
			resize: none;
			width:calc(100% - 4rem);
			height: 100%;
			background: darken(#fff, 2%);
			box-shadow: 0px 0px 3px 2px rgba(200, 200, 200, .3) inset;
		}
		textarea, .submit{
			display: block;
			float:left;
		}
		.submit{
			width: 4rem;
			height:100%;
			text-transform: uppercase;
			line-height:4rem;
			border:none;
			text-align: left;
			font-size:1.1em;
			background: $black url('../img/airplane_white.svg') no-repeat center;
			background-size: 45% auto;
			cursor: pointer;
 			&:hover{
				background-color: lighten($black, 5%);
			}
		}

		&::after{
			@include clear();
		}
	}
}


// Assigner open modal
#assigner-wrapper{
	position:fixed;
	top:0;
	left:0;
	transition: opacity .3s;
	z-index:1000;
}
.assigner-hidden{
	visibility: hidden;
	opacity: 0;
}
.assigner-open{
	visibility: visible;
	opacity: 1;
}