#site-header{
	position: relative;
	width:100%;
	height:4.825em;
	background: #fff;
	text-align: center;
	#logo-wrapper, #magnifying-wrapper, #magnifying-wrapper div{
		position: relative;
		height: 100%;
	}
	svg{
		height:100%;

	}
	#magnifying-wrapper{
		position: absolute;
		top:0;
		right:0;
		overflow: hidden;
		width:20em;
		div{
			float:right;
		}
		svg{
			height:1.5em;
		}
	}
	#magnifying{
		height:4.825em;
		width:4.825em;
		padding-top:.5em;
		position: relative;
		transition: background .3s;
		svg{
			@include centerXY();
		}
		&:hover{
			background: $gray;
		}
	}
	#magnifying-expansion{
		position: relative;
		overflow:hidden;
		padding:.5em 1em .5em 0;
		transition: width .9s;
		input{
			background: none;
			border: none;
			border-bottom:2px solid $black;
			height:3.5em;
			width:100%;
			font-weight: 600;
			font-family: $acumin;
		}
	}
}

.mag-hidden{
	width:0;
	visibility: hidden;
}
.mag-visible{
	width: 15.175em;
	visibility: visible;
}
