#userbar{
	width:100%;
	position:absolute;
	height:100vh;
	text-align: right;
	top:0;
	left:0;
	color:#fff;
	z-index: 100;
	cursor:pointer;
	#inner-menu, #outer-menu{
		position: relative;
		float:left;
		height:100%;
	}
	#inner-menu{
		width: calc(100% - 77px);
		transition: .5s;
		overflow:hidden;
		min-height: 100vh;
		background:$black;
		color:#fff;
		.wrap{
			height:100%;
			width:to-em(323);
			position:absolute;
			top:0;
			left:0;
			text-align: center;
		}
	}
	#outer-menu{
		width:to-em(77);
	}
	#userbar-header{
		width:100%;
	}
	#branding{
		width:100%;
		height:to-em(77px);
		background: $black;
		color:#fff;
		position: relative;
		svg{
			@include centerXY();
			fill:#fff;
			height:70%;
			width:100%;

		}
	}
	$avatarSize: 3.5em;
	.avatar-wrapper{
		height:$avatarSize;
		width:$avatarSize;
		position: relative;
		border-radius:50%;
		text-align: center;
		overflow: hidden;
		background: $dblue;
		margin:4em auto;
		.initials{
			width:100%;
			height: 100%;
			color:#fff;
			position: absolute;
			top:0;
			left:0;
			line-height: $avatarSize;
		}
	}
	#hamburger{
		height:to-em(77px);
		width:100%;
		padding:1.5em;
		transition: background .2s;
		max-width:to-em(77px);
		&:hover{
			background: $gray;
		}
	}

	@include jazzy-hamburger(4.1825em, 3, #000);
}
#fade-zone{
	transition: .9s;
	opacity: 0;	
}

// Delete 
.disclaimer{
	padding:2em 1em;
	text-align: left;
}

.userbar{
	max-width:to-em(77px);
	#inner-menu{

	}
	#fade-zone{
		position:relative;
		left:0;
		top:0;
		width:100%;
		height:100%;

	}
	a{
		user-select:none;
	}
}
.userbar-open{
	max-width:to-em(400px);
	transition: .5s;
	#inner-menu{
		display:block;
	}
	#fade-zone{
		opacity:1;
	}
}

.disclaimer, #user-header, #user-actions{
	height:40%;
	&::after{
		@include clear();
	}
}
#user-actions{
	a{
		display:block;
		float:left;
		height:33.333333334%;
		width:33.333333334%;
		max-height: 6em;
		line-height:6em;
		text-align: center;
		&:hover{
			background: lighten($black, 5%);
			svg{
				stroke:#eee;
			}
		}
	}
	svg{
		width:2em;
		height:2em;
		stroke:#fff;
	}
}
#bottom-actions{
	height:20%;
	font-size:1.1em;
	text-transform:lowercase;
	letter-spacing:1px;
}

@media screen and (max-width:to-em(960px)){
	#userbar{
		#outer-menu{
			transition: background 1s;
		}
	}
	div.userbar{
		div#outer-menu{
			background: transparent;
		}
	}
	div.userbar-open{
		max-width:100%;
		div#outer-menu{
			height:100vh !important;
			background:rgba(255, 255, 255, .9);
		}
	}
}