#change-avatar{
	width:100%;
	max-width: to-em(560);
	height:to-em(560);
	@include centerXY();
	position:fixed;
	z-index:1000;
	background: #fff;
	form{
		height:100%;
	}
	.frame{
		height:calc(100% - 5em);
		position: relative;
	}
}