#userbar{width:100%;max-width:to-em(77);position:fixed;background:#ececec;height:100vh;text-align:center;top:0;left:0;color:#fff;z-index:100;padding-top:5em;box-shadow:2px 0 3px 1px rgba(50,50,50,0.4) inset}#userbar #userbar-header{width:100%}
